{% extends 'shared/base.html' %}

{% block content %}
    <!-- Title of the Page -->
    <h2>Current Events</h2>

    <!-- The Main Content for the Dashboard Event section -->
    <section id="dashboard">
        <!-- Display paragraph: If there are no events yet -->
        <!-- Display a <div> with information about every post (if any)-->
        {% if events %}
            {% for event in events %}
                <div class="event">
                <!-- Event Image -->
                <img src="{{ event.event_image }}" alt="Robert De Niro Themed Party Image"/>

                <!-- Event Name -->
                <div class="event-details">
                    <p class="title">
                        {{ event.event_name }}
                    </p>

                    <!-- Event Date -->
                    <p class="date">{{ event.event_date }}</p>
                </div>

                <!-- Details Button -->
                <a class="details-btn" href="{% url 'details_page' event.id %}">Details</a>
            </div>
            {% endfor %}
            <!-- First Card-Box in dashboard -->
        {% else %}
            <h4>There are no Events in the Dashboard!</h4>
        {% endif %}
    </section>
    <!-- End Dashboard Event section -->

{% endblock %}